<nav>
  {{#if user}}
  {{user.name}} |
  <a href="/logout">Retreat</a> |
  
  {{else}}
  <a href="/login">Load File</a> |
  <a href="/register">Create File</a> 
  {{/if}}
</nav>

<p>
<h1 id="gameTitle">Kol-da-sack Kombat</h1>
<div id="battle">
<i class="nes-icon youtube"></i>
</div>
</p>
  
    <div class="grid-container">
        <div id="userInfo" class="grid-item">
            <img id="userImg" src="/assets/image/{{user.class}}.png" alt="{{user.class}}">
            <h3>{{user.name}}</h3>
            <progress class="nes-progress is-success playerHp" value="100" max="100"></progress>
            <div id="userBtns">
                <button id="attack" type="button" class="nes-btn is-success topBtn" onclick="attackBtn()">Attack</button>
                <button type="button" class="nes-btn is-error topBtn" onclick="specialBtn()">Special</button>
                <button type="button" class="nes-btn is-primary" onclick="potionBtn()">Potion</button>
                <button type="button" class="nes-btn is-warning" onclick="dodgeBtn()">Dodge</button>
            </div>
        </div>
        <div id="enemy" class="grid-item">
            <img id="enemyPic" src="/assets/image/grandma.png" alt="monster" >
            <h3>Grandma Gertrude</h3>
            <progress class="nes-progress is-success enemyHp" value="100" max="100"></progress>
            <div>Maybe do a 3rd party api call here?</div>
        </div>
    </div>

    <p class="commentaryTitle">Battle Commentary</p>

    <div class="nes-container is-dark is-centered" id="commentary">
        <div>The Battle Has Commenced!!!</div>
    </div>

   